<!-- begin footer -->
<div class="footer">
	<div class="footer__in in">
		<div class="footer__soc-icons">
			<a href="#" class="footer__icon">						{{mixins.icon('facebook-footer')}}
			</a>
			<a href="#" class="footer__icon">
				{{mixins.icon('instagram')}}
			</a>
			<a href="#" class="footer__icon">
				{{mixins.icon('play-footer')}}
			</a>
			<a href="#" class="footer__icon">
				{{mixins.icon('wk')}}
			</a>
		</div>
		<div class="footer__list">
			<span class="footer__item">Cookies</span>
			<span class="footer__item">Privacy Policy</span>
		</div>
	</div>
</div>
<!-- end footer -->