<!-- begin forecasts -->
<div class="forecasts">
	<div class="forecasts__cube-dark-small rellax">
		<img src="img/box-dark-small.png" alt="cube">
	</div>
	<div class="forecasts__cube-dark rellax"  data-rellax-speed="-4">
		<img src="img/box-dark.png" alt="cube">
	</div>
	<div class="forecasts__in in">
		<div class="forecasts__wrap">
			<h2 class="forecasts__title title-md">Popular forecasts</h2>
			<h4 class="forecasts__subtitle title-xs">The forecasts are updated every 30 minutes</h4>
			<div class="forecasts__list">
				<li class="forecasts__item">
					<a href="#" class='forecasts__link'>BTC</a>	
				</li>
				<li class="forecasts__item">
					<a href="#" class='forecasts__link'>LTC</a>
				</li>
				<li class="forecasts__item">
					<a href="#" class='forecasts__link'>ETH</a>	
				</li>
				<li class="forecasts__item">
					<a href="#" class='forecasts__link'>XRP</a>
					
				</li>
				<li class="forecasts__item">
					<a href="#" class='forecasts__link'>DASH</a>
				</li>
				<li class="forecasts__item">
					<a href="#" class='forecasts__link'>XMR</a>		
				</li>
			</div>
		</div>
	</div>
	<div class="forecasts__img">
		<img src="img/forecast.png" alt="forecast">
	</div>
</div>	
<!-- end forecasts -->