<!-- begin header -->
<div class="header">
	<div class="header__in in">
		<div class="header__wrap">
			<div class="header__left">
				<div class="header__logo">{{mixins.icon('logo')}}</div>
				<div class="header__logo-text">
					Neurobot.trading
				</div>
			</div>
			<div class="header__left">
				<div class="header__menu">
					<ul class="menu">
						<li class="menu__item">
							<a href="#" class="menu__link">Forecasts</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Tokens</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">About</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Log in</a>
						</li>
					</ul>
				</div>
				<div class="header__button">
					<button class="btn">Sing Up</button>
				</div>
				<div class="header__lang lang">
					<a href="#">Eng</a>
					<a href="#">Рус</a>		
				</div>	
			</div>
		</div>
		
	</div>	
</div>
<!-- end header -->