<!-- begin hero -->
<div class="hero">
	<div class="hero__cube-small rellax" data-rellax-speed="-4">
		<img src="img/box-small-blue.png" alt="cube">
	</div>
	<div class="hero__cube-blur rellax" data-rellax-speed="4">
		<img src="img/box-blur.png" alt="cube">
	</div>
	<div class="hero__in in">
		<div class="hero__top">
			<div class="hero__info">
				<h1 class="hero__title title-lg">Forecasting
				Exchange Rates</h1>
				<h3 class="hero__subtitle title-sm">of Cryptocurrencies by Neural Network Algorithm</h3>
				<div class="hero__button">
					<button class="button">Join Free For 3 Days</button>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__in-lg in-lg">
		<div class="hero__img">
			<img src="img/robot.png" alt="robot">
		</div>
		<div class="hero__img-mob">
			<img src="img/robot-mob.png" alt="robot">
		</div>
		<div class="hero__video video">
			<div class="video__content"></div>
			<div class="video__btn">{{mixins.icon('play')}}</div>
		</div>
	</div>	
</div>
<!-- end hero -->