{% set
list = [
	{
		title: "Why the graphic predictions for the 24 hours differs from that of the 48 hour and the weekly?",
		description: "Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different."
	},
	{
		title: "What is the charts time zone?",
		description: "Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different."
	},
	{
		title: "How accurate are the forecasts?",
		description: "Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different."
	},
	{
		title: "Why are the graphics of the forecasts so inconvenient?",
		description: "Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different."
	},
	{
		title: "What is the most accurate forecast?",
		description: "Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different."
	}
]
%}
<!-- begin questions -->
<div class="questions">
	<div class="questions__in-lg in-lg">
		<div class="questions__wrap">
			<h1 class="questions__title title-lg title-lg_darken">
				Frequently Asked <span>Questions</span>
			</h1>
			<div class="questions__accordion accordion">
			{% for item in list %}
				<div class="accordion__block">
					<div class="accordion__button-block">
						<div class="accordion__button"></div>	
					</div>
					
					<div class="accordion__content">
						<div class="accordion__title">{{item.title}}</div>
						<div class="accordion__hide-text">{{item.description}}</div>
					</div>
					
				</div>
			{% endfor %}
			</div>
		</div>	
		
	</div>
</div>
<!-- end questions -->