.questions
	&__wrap
		background-color: $white
		padding: 90px 40px 125px
		border-radius: 12px  

.accordion
	&__title
		font-size: 30px
		font-weight: 600
		color: $darkblue
	&__button
		width: 35px
		height: 35px
		background-color: $blue
		border-radius: 50%
		position: relative
			 