.subscribe
	padding-top: 165px
	&__content
		display: flex
		justify-content: space-between
	&__block-btn
		padding-top: 70px
	&__button
		margin-bottom: 25px
	&__news
		border: 16px solid $white
		border-radius: 10px
		padding: 45px 50px 50px
		max-width: 502px